/* orange dans la charte graphique ==> #F17629
texte foncé quasiment noir dans la charte graphique ==> rgba(0,0,0,.75) */
html body{
    background-color: rgb(249, 249, 249);
}
.header{
    background-color: #F17629;
    height: 80px;
    align-items: center;
    position: sticky;
    z-index: 9999;
    overflow: visible!important;
}
.fixed{
    top: 0;
}
.logo{
    float:right;
}
.logo:hover{
    cursor: pointer;
}
.top-buttons{
    float: right;
    margin-right: 50px;
}
.top-buttons .nav-buttons{
    color: white;
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    padding-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    letter-spacing: -.03em;
}
.top-buttons .nav-buttons:hover{
    text-decoration: none;
    color: white;
    border-bottom: white solid;
    border-width: 1px;
    cursor: pointer;
}
.active{
    border-bottom: white solid;
    border-width: 1px;
}
.reserver{
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    background-color: white;
    border: white solid 1px;
    color: #F17629;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}
.video{
    width: 100vw;
    height: 600px;
    object-fit: cover;
    top: 0;
    left: 0;
}
video::-webkit-media-controls-timeline {
    display:none;
}
.caption{
    padding-top: 40px;
    padding-bottom: 33px;
    align-items: center;
}
.accroche{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    letter-spacing: 5;
    font-size: 38px;
    text-align: center;
    color: rgba(0,0,0,.75)
}
.sub-cap{
    align-items: center;
    font-family: 'Hind', sans-serif;
}
.children{
    font-size: 20px;
    font-weight: 300;
}
.age{
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    color: #F17629;
}
.children-list{
    font-size: 20px;
    font-weight: 300;
    list-style-image: url("bullet.png");
    text-align: left;
}
.children-list li{
    margin-top: 15px;
    font-size: 20px;
    margin-left: -10px
}
.foxies-cards{
    justify-content: center;
    margin-top: 20px;
}
.fox-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: #FFF;
    padding-bottom: 30px;

}
.fox-card h5{
    font-family: "Hind", sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,.75);
    padding-top: 15px;
    padding-bottom: 10px;
}
.reservation{
    justify-content: center;
    margin-top: 40px;
}
.res-button{
    background-color: #F17629;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 8px 8px 27px;
    cursor: pointer;
}
.anniv-resa{
    background-color: #F17629;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    color: white;
    font-family: "Hind", sans-serif;
}
.anniv-resa-img{
    margin-bottom: 50px;
}
.anniv-resa h3{
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}
.a-r-card{
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.a-r-card p{
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    margin-bottom: 60px;
}
.a-r-card p span{
    font-weight: bolder;
}
.discover-button{
    background-color: white;
    color:#F17629;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 9px 9px 28px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
.actu-title{
    text-align: center;
    font-family: "Hind", sans-serif;
    color: rgba(0,0,0,.75);
    margin-top: 50px;
    margin-bottom: 50px;

}
.actu-title h2{
    font-size: 48px;
    font-weight: 600;
}
.actu-title p{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 16px;
}
.actu{
    justify-content: center;
}
.actu-card{
    font-family: "Hind", sans-serif;
    overflow: hidden;
}
.actu-botcard{
    border: solid #eaeaea 1px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
    width: 100%;
    padding: 30px 40px 15px;
    height: 320px;
}
.actu-img{
    height:220px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
}
.actu-date{
    color: #F17629;
    font-size: 14px;
    font-weight: 600;
}
.actu-name{
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.actu-summ{
    color: rgba(0,0,0,.75);
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    position: absolute;
    bottom: 75px;
    padding-right: 50px;
}
.actu-route{
    color: #F17629;
    font-size: 16px;
    font-weight: 700;
    margin-top: 45px;
    position:absolute;
    bottom: 15px;
}
.actu-route:hover{
    color:#F17629;
    text-decoration: none;
}
.colorcaret{
    color: #F17629;
    width: 0.875em;
    vertical-align: middle;
    margin-left: 6px;
}
.plus-actu{
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.info-button{
    background-color: #F17629;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 8px 8px 27px;
    cursor: pointer;
}
.stay-tuned{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    align-items: center;
    background-image: url("newsletter2.31f6f23a.png");
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
}
.stay-tuned h3{
    font-weight: 600;
    font-size: 24px;
}
.stay-tuned p{
    font-size: 16px;
}
#email{
    width: 20%;
    border-radius: 10px 0 0 10px;
}
.newsletter-bar{
    justify-content: center;
    height: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#SendButton{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 0.6;
    cursor: not-allowed;
    border: solid #F17629 1px;
    border-radius: 0 10px 10px 0;
    background-color: #F17629;
}
::-webkit-input-placeholder {
    text-align: center;
}
.footer1{
    margin-top: 120px;
    text-align: center;
}
.footer2{
    text-align: center;
}
.footer-img{
    width: 111px;
    margin-left: 5px;
    margin-right: 5px;
}
.footer3{
    text-align: center;
    font-family: "Hind", sans-serif;
    font-size: 16px;
    line-height: 135%;
    color: #222;
    letter-spacing: .05em;
    margin-bottom: 120px;
}
.footer3 a{
    color: #222;
}
.footer3 a:hover{
    text-decoration: underline;
    color: #222;
}
.fab{
    font-size: 15px;
    border-radius: 5px;
    border: #F17629 solid 1px;
    background: #F17629;
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
}
.fa-facebook-f{
    padding-left: 6px;
    padding-right: 6px;
}


/* ////////////////////////////////////// ANIMATIONS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* Navbar reservation button */
#resa {
    transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    text-decoration: none;
    font-weight: 600;
}


/* Foxies cards transitions */
.know-more{
    font-size: 0px;
    border: none;
    background-color: #fff;
    width: 85%;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
}
.know-more:hover{
    color: #fff;
    text-decoration: none;
}
.fox-card{
    transition: 0.75s;
}
.fox-card:hover .know-more{
    font-family: "Hind", sans-serif;
    color: #fff;
    font-size: 16px;
    background-color: #F17629;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 85%;
}
.know-more{
    transition: 0.5s;
}


/* Arrow on reservation button */
#right1{
    color:#F17629;
    font-family: "Hind", sans-serif;
    font-size: 700;
}
.res-button:hover #right1{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
.res-button:hover .res-text{
    transform: translate(-8px,0);
    transition: 0.75s;
}
.res-button:hover{
    padding-right: 8px;
}


/* Arrow on discover button */
#right2{
    color:#fff;
    font-family: "Hind", sans-serif;
    font-size: 700;
}
#right3{
    color:#fff;
    font-family: "Hind", sans-serif;
    font-size: 700;
}
.discover-button:hover #right2{
    font-size: 18px;
    color: #F17629;
    display: inline-block;
    transition: 0.5s;
}
.discover-button:hover #right3{
    font-size: 18px;
    color: #F17629;
    display: inline-block;
    transition: 0.5s;
}
.discover-button:hover .disco-text{
    transform: translate(-9px,0);
    transition: 0.75s;
}
.discover-button:hover{
    padding-right: 9px;
}


/* Arrow on information button */
#right4{
    color:#F17629;
    font-family: "Hind", sans-serif;
    font-size: 700;
}
.info-button:hover #right4{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}
.info-button:hover .info-text{
    transform: translate(-8px,0);
    transition: 0.75s;
}
.info-button:hover{
    padding-right: 8px;
}

/* Zoom for actu images */
.zoom{
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    overflow: hidden;
}
.actu-img{
    transition: 0.75s;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    -ms-transition: all .75s ease-in-out;
}
.actu-topcard{
    overflow: hidden;
    border-radius: 40px 40px 0 0;
}


/* Facebook, Instagram and Linkedin icons transitions */
.fab{
    transition: 0.5s;
}


/* dropdown activities */
.dd-content{
    background-color: #fff;
    display: none;
    position: fixed;
    margin-left: 180px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    border-radius: 10px;
    color: #F17629;
}
.dd-content li a{
    font-weight: 600;
    font-size: 14px;
    font-family: "Hind", sans-serif;
    color: #F17629;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dd-content li a:hover{
    text-decoration: none;
}
.dd-content li:hover{
    background-color: #F17629;
    color: #fff;
}
#deroulant:hover .dd-content li{
    display: inline-block;
    position: relative;
    width: 100px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Hind", sans-serif;
    background-color: #FFF;
    color: #F17629;
}